@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

.ContainerProducts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0px 10% 0px 10%;
}

.ContainerProducts > a {
    width: 30%;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.ContainerProducts > a > div.ProductInfo {
    transition-duration: 600ms;
}

.ContainerProducts > a > div.ProductInfo:hover {
    transform: scale(1.05);
}

.ContainerProducts > a > div.ProductInfo > img {
    width: 100%;
}

.ContainerProducts > a > div.ProductInfo > p {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.4rem;
    font-style: normal;
    margin-top: 10px;
    text-align: left;
}

@media only screen and ( min-width: 200px ) and (max-width: 767px) {
    .ContainerProducts {
        margin: 0;
        width: 100%;
    }

    .ContainerProducts > a {
        width: 80%;
        text-align: center;
    }

    .ContainerProducts > a > div.ProductInfo {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .ContainerProducts > a > div.ProductInfo > img {
        width: 100%;
    }
}