.ContainerAbout {
    margin: 40px;
}

.ContainerInfoAbout > article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
}

.ContainerInfoAbout > article > div > img {
    width: 100%;
    margin-bottom: 20px;
}

.ContainerInfoAbout > article > div > p {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 20px;
}

@media only screen and ( min-width: 200px ) and (max-width: 767px) {
    .ContainerInfoAbout > article {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
    }
}